---
import LinkedIn from "@sharedIcons/social/LinkedIn.astro";
import Github from "@sharedIcons/social/Github.astro";
import X from "@sharedIcons/social/X.astro";
import Substack from "@sharedIcons/social/Substack.astro";

import ShowSortContent from "./section_lists/ShowSortContent.astro";
---

<section class="mx-auto flex flex-col justify-center">
  <h1
    class="underline decoration-cz-primary text-balance font-pixel text-center text-3xl mb-8 sm:mb-10"
  >
    I'm a Growth who Program.
  </h1>
  <section class="text-pretty">
    <p class="mt-2">
      Comparto aquello que sé, aprendo y hago sobre Growth, Behavior & Code, con
      el fin de crear y escalar productos. Documento mi proceso en Substack y
      LinkedIn, en una especie de "build in public" de mi día a día.
    </p>
    <p class="mt-2">
      Me fascian la industria EdTech, ClimateTech y los productos con Network
      Effects.
    </p>
    <p class="mt-2">
      Por cierto, soy Chema ✌🏽. Un Growth & Dev, amante del arte callejero y del
      tattoo, compito en CrossFit y ahora estoy estudiando un <span
        title="Grado en Desarrollo de Aplicaciones Multiplataforma"
        >Grado Superior en DAM</span
      >.
    </p>
  </section>
</section>

<section class="flex justify-start items-center gap-2 mt-6">
  <Substack width="18" height="18" />
  <LinkedIn width="20" height="20" />
  <Github width="20" height="20" />
  <X width="20" height="20" />
</section>

<section class="text-pretty">
  <h2 class="mt-8 text-balance">Qué te vas a encontrar aquí?</h2>

  <ShowSortContent />
</section>
