---
import UnclearThought from "../icons/UnclearThought.astro";

interface Thoughts {
  first_paragraph: string[];
  second_paragraph?: string[];
  third_paragraph?: string[];
  asset?: string;
}

const { first_paragraph, second_paragraph, third_paragraph, asset } =
  Astro.props as Thoughts;

if (!first_paragraph) {
  throw new Error(
    "At least, you need a first_paragraph in quote component. Then you can add a second_paragraph and a third_paragraph.",
  );
}

const paragraphs = [first_paragraph, second_paragraph, third_paragraph].filter(
  Boolean,
);
---

<section
  class="border border-cz-border-dark bg-cz-surface-dark p-2 rounded-lg gap-y-1 my-4 flex flex-col mx-auto"
>
  <section class="grid grid-cols-[auto_1fr] my-auto gap-x-3">
    <div class="-mt-1">
      <UnclearThought />
    </div>
    <section class="flex flex-col justify-center mb-0">
      {
        paragraphs.map((paragraph, index) => (
          <p class:list={["font-mono text-xs mb-0", { "mt-2": index > 0 }]}>
            {paragraph}
          </p>
        ))
      }
      {
        asset && (
          <section>
            <p class="font-momo tracking-wide text-xs mt-2 mb-0">
              <slot />
            </p>
          </section>
        )
      }
    </section>
  </section>
</section>
