---
import UnclearThought from "../icons/UnclearThought.astro";

interface Thoughts {
  first_paragraph: string[];
  second_paragraph?: string[];
  third_paragraph?: string[];
}

const { first_paragraph, second_paragraph, third_paragraph } =
  Astro.props as Thoughts;

if (!first_paragraph) {
  throw new Error(
    "At least, you need a first_paragraph in quote component. Then you can add a second_paragraph and a third_paragraph."
  );
}
---

<section
  class="border border-cz-border-dark bg-cz-surface-dark p-2 rounded-lg gap-y-1 my-4 flex flex-col mx-auto"
>
  <section class="grid grid-cols-[auto_1fr] my-auto gap-x-3">
    <div class="-mt-1">
      <UnclearThought />
    </div>
    <section class="flex flex-col justify-center mb-0">
      <p class="font-mono text-xs mb-0">
        {first_paragraph}
      </p>
      {
        second_paragraph && (
          <p class="font-mono text-xs mb-0 mt-2">{second_paragraph}</p>
        )
      }
      {
        third_paragraph && (
          <p class="font-mono text-xs mt-2 mb-0">{third_paragraph}</p>
        )
      }
      <section>
        <p class="font-momo tracking-wide text-xs mt-2 mb-0">
          <slot />
        </p>
      </section>
    </section>
  </section>
</section>
