---
import GoOut from "@/icons/GoOut.astro";
import UnclearThought from "../icons/UnclearThought.astro";

interface Thoughts {
  first_paragraph: string[];
  second_paragraph?: string[];
  third_paragraph?: string[];
  asset?: boolean;
  title_asset: string;
  href_link?: string;
  title_link?: string;
  is_third_party?: boolean;
}

const {
  first_paragraph,
  second_paragraph,
  third_paragraph,
  asset,
  title_asset,
  title_link,
  href_link,
  is_third_party,
} = Astro.props as Thoughts;

if (!first_paragraph) {
  throw new Error(
    "At least, you need a first_paragraph in quote component. Then you can add a second_paragraph and a third_paragraph.",
  );
}

const paragraphs = [first_paragraph, second_paragraph, third_paragraph].filter(
  Boolean,
);
---

<section
  class="border border-cz-border-dark bg-cz-surface-dark p-2 rounded-lg gap-y-1 my-4 flex flex-col mx-auto"
>
  <section class="grid grid-cols-[auto_1fr] my-auto gap-x-3">
    <div class="-mt-1">
      <UnclearThought />
    </div>
    <section class="flex flex-col justify-center mb-0">
      {
        paragraphs.map((paragraph, index) => (
          <p class:list={["font-mono text-xs mb-0", { "mt-2": index > 0 }]}>
            {paragraph}
          </p>
        ))
      }
      {
        asset && (
          <section class="mt-2 flex items-center gap-x-2">
            {/* <p class="font-mono tracking-wide text-xs mt-2 mb-0">
              <slot />
            </p> */}
            <a
              class="decoration-cz-primary pb-0 underline group hover:no-underline font-mono tracking-wide text-xs mt-2 mb-0"
              target="_blank"
              rel="noopener noreferrer"
              title={title_link}
              href={href_link}
            >
              {title_asset}
            </a>
            {is_third_party && <GoOut classes="w-4 h-4 mt-2" />}
          </section>
        )
      }
    </section>
  </section>
</section>
