---
import styles from "./summarize.module.css"
import SummarizeLLMs from "../buttons/SummarizeLLMs.astro";
---

<section
  class={styles.summary}
>
  <p
    class={styles.what}
  >
    Puedes resumirlo con:
  </p>
  <div class={styles.llms}>
    <SummarizeLLMs ai="chatgpt" />
    <SummarizeLLMs ai="claude" />
    <SummarizeLLMs ai="grok" />
    <SummarizeLLMs ai="perplexity" />
  </div>
</section>
