---
import ShowSortContent from "./ShowSortContent.astro";
import SocialMediaBlock from "@sharedComponents/UI/SocialMediaBlock.astro";
---

<section class="mx-auto flex flex-col justify-center">
  <h1
    class="underline decoration-cz-primary text-balance font-pixel text-center text-3xl mb-8 sm:mb-10"
  >
    I'm a Growth who Programs.
  </h1>
  <section class="text-pretty">
    <p class="mt-2">
      Comparto aquello que sé, aprendo y hago sobre Growth, Behavior & Code, con
      el fin de crear y escalar productos. Documento mi proceso en Substack y
      más de vez en cuando en LinkedIn y X en una especie de "build in public"
      de mi día a día.
    </p>
    <p class="mt-2">
      Me fascian la industria EdTech, ClimateTech y los productos con Network
      Effects.
    </p>
    <p class="mt-4">
      Por cierto, soy Chema ✌🏽. Amante del arte, del tattoo y compito en
      CrossFit.
    </p>
  </section>
</section>

<section class="mt-6 -ml-2">
  <SocialMediaBlock />
</section>

<section class="text-pretty">
  <h2 class="mt-8 text-balance">Qué te vas a encontrar aquí?</h2>

  <ShowSortContent />
</section>
