.substack {
	color: var(--fg);
	width: var(--wdth-1);
}

.x {
	color: var(--fg);
	width: 1.25rem;
}

.github {
	color: var(--fg);
	width: 1.25rem;
}

.linkedin {
	color: var(--fg);
	width: 1.25rem;
}
