---
import ReaderStaticMarkdowns from "@static/markdowns/ReaderStaticMarkdowns.astro";

import { Content as HomeContent } from "@static/markdowns/home.mdx";
---

<!-- <ReaderStaticMarkdowns>
  <HomeContent />
</ReaderStaticMarkdowns> -->
<article class="max-w-xl mx-auto flex flex-col justify-center text-pretty">
  <section class="flex items-center justify-between gap-4 mb-6">
    <h1 class="text-xl">Aquí Chema F. · c12z</h1>
  </section>
  <section class="flex flex-col gap-y-2">
    <p class="text-sm md:text-base">
      Un Growth, apasionado de la psicología del comportamiento, cómo hablar con
      usuarios y cómo esto afecta al producto y negocio.
    </p><p>
      Amante del arte del tattoo, compito en CrossFit y en mi tiempo libre
      programo (AI).
    </p>
  </section>

  <section class="flex flex-col gap-y-2 text-lg mt-4">
    <p>
      Actualemente estoy <span
        class="text-cz-primary italic md:cursor-wait animate-pulse"
        >{`{{open_to_work}}`}</span
      > → <a
        class="text-sm hover:border-b-2 border-cz-primary"
        href="https://www.linkedin.com/in/chemaferrandez/"
        target="_blank"
        rel="noopener noreferrer">LinkedIn</a
      >
    </p>
  </section>

  <section class="flex flex-col mt-12">
    <h2 class="">Sobre qué me gusta hablar</h2>
    <section class="flex flex-col gap-y-4">
      <section class="mt-4">
        <p>
          <a
            href="/ensayos"
            class="hover:text-cz-ensayos-dark transition-colors"
          >
            <span class="text-cz-ensayos-dark">/</span>ensayos
          </a>
          · Insights, frameworks y pensamientos sobre Growth y producto
        </p>
        <ul
          class="border-cz-text-relax-dark ml-3 rounded-bl-lg border-b border-l pt-1 pr-1 pl-4"
        >
          <li class="mb-2">
            <span>·</span>{""}
            <a
              href="#"
              class="underline font-rubik decoration-cz-text-relax-light"
            >
              un ele i Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
          </li>
          <li class="mb-2">
            <span>·</span>{""}
            <a
              href="#"
              class="underline font-rubik decoration-cz-text-relax-light"
            >
              dos ele i Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
          </li>
        </ul>
      </section>
      <section class="mt-4">
        <p>
          <a
            href="/behavior"
            class="hover:text-cz-behavior-dark transition-colors"
          >
            <span class="text-cz-behavior-dark">/</span>behavior
          </a>
          · Cómo y por qué hacemos lo que hacemos
        </p>
        <ul
          class="border-cz-text-relax-dark ml-3 rounded-bl-lg border-b border-l pt-1 pr-1 pl-4"
        >
          <li class="mb-2">
            <span>·</span>{""}
            <a
              href="#"
              class="underline font-rubik decoration-cz-text-relax-light"
            >
              un ele i Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
          </li>
          <li class="mb-2">
            <span>·</span>{""}
            <a
              href="#"
              class="underline font-rubik decoration-cz-text-relax-light"
            >
              dos ele i Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
          </li>
        </ul>
      </section>
      <section class="mt-4">
        <p>
          <a
            href="/biblioteca"
            class="hover:text-cz-biblioteca-dark transition-colors"
          >
            <span class="text-cz-biblioteca-dark">/</span>biblioteca
          </a>
          · Notas de los libros que voy leyendo
        </p>
        <ul
          class="border-cz-text-relax-dark ml-3 rounded-bl-lg border-b border-l pt-1 pr-1 pl-4"
        >
          <li class="mb-2">
            <span>·</span>{""}
            <a
              href="#"
              class="underline font-rubik decoration-cz-text-relax-light"
            >
              un ele i Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
          </li>
          <li class="mb-2">
            <span>·</span>{""}
            <a
              href="#"
              class="underline font-rubik decoration-cz-text-relax-light"
            >
              dos ele i Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
          </li>
        </ul>
      </section>
      <!-- <section class="mt-4">
        <p>
          <a
            href="/proyectos"
            class="hover:text-cz-proyectos-dark transition-colors"
          >
            <span class="text-cz-proyectos-dark">/</span>proyectos
          </a>
          · Algunos proyectos que voy creando
        </p>
        <ul
          class="border-cz-text-relax-dark ml-3 rounded-bl-lg border-b border-l pt-1 pr-1 pl-4"
        >
          <li class="mb-2">
            <span>·</span>{""}
            <a
              href="#"
              class="underline font-rubik decoration-cz-text-relax-light"
            >
              La Vida Moderna Quotes
            </a>
          </li>
          <li class="mb-2">
            <span>·</span>{""}
            <a
              href="#"
              class="underline font-rubik decoration-cz-text-relax-light"
            >
              Mom's Meals
            </a>
          </li>
        </ul>
      </section> -->
    </section>
  </section>
</article>
