---
import SocialBlock from "@/components/common/ui/icons/social/SocialBlock.astro";
---

<footer class="flex flex-col items-center footer">
  <hr class="pb-3 h-px w-3/4 text-cz-text-headers-dark/50" />
  <section class="flex items-center justify-between w-full">
    <p class="text-xs self-start">
      with 🖤 - <a
        class="text-cz-primary"
        href="/contexto"
        title="Contexto de Chema Ferréndez - c12z">chema</a
      >
    </p>
    <SocialBlock />
  </section>
</footer>
