---
import MainLayout from "@layouts/MainLayout.astro";

import { CONTEXT_PAGE_INFO } from "@/global/pagesInfo";
import ContextSEO from "@analyticsComponents/SEO/pages/context/ContextSEO.astro";

import GoBackInTop from "@sharedPageComponents/items/buttons/GoBackInTop.astro";
import Context from "@basicPageComponents/context/Context.astro";
---

<MainLayout>
  <ContextSEO
    slot="head"
    pageTitle={CONTEXT_PAGE_INFO.title}
    pageDescription={CONTEXT_PAGE_INFO.description}
  />
  <section class="flex flex-col w-full md:min-w-3xl sm:min-w-xl mx-auto">
    <GoBackInTop headPage="/" title="ir a la home" />
    <article class="mx-auto">
      <Context />
    </article>
  </section>
</MainLayout>
