---
import styles from "./book.module.css"
import { getCollection } from "astro:content";
import BookCard from "./BookCard.astro";
import LibraryHeader from "./LibraryHeader.astro";
import GoBackInTop from "@/components/common/ui/buttons/GoBackInTop.astro";

const library = await getCollection("library");

// Sort by publishDate descending (most recent first)
library.sort((a, b) => {
  const dateA = new Date(
    a.data.publishDate.split("/").reverse().join("-")
  ).getTime();
  const dateB = new Date(
    b.data.publishDate.split("/").reverse().join("-")
  ).getTime();
  return dateB - dateA;
});
---

<section class={styles.libraryPage}>
  <GoBackInTop headPage="/" title="go home" />
  <LibraryHeader />
  {library.map((book, index) => <BookCard entry={book} index={index} />)}
</section>
