---
import type { CustomLogo } from "@interfaces/customLogo.interface";

const {
  width = "1rem",
  height = "1rem",
  shouldGo = "/",
} = Astro.props as CustomLogo;

const isRem = (value: string) => /^\d+(\.\d+)?rem$/.test(value);

if (!isRem(width) || !isRem(height)) {
  throw new Error(
    "Invalid dimensions: Width and Height must be in 'rem' units."
  );
}

if (!shouldGo.startsWith("/")) {
  throw new Error(
    `Invalid href: "${shouldGo}". The href must start with a "/".`
  );
}
---

<a
  href={shouldGo}
  class="flex w-fit h-fit shrink-0"
  aria-label="Go to homepage"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    height={height}
    width={width}
    viewBox="0 0 151 151"
    ><path
      fill="#fcf8f1"
      d="M100.951 150.983c-2.338 0-4.636-.475-6.855-1.426a17.2 17.2 0 0 1-6.26-4.517 23 23 0 0 1-2.218 2.14c-4.081 3.288-9.39 4.516-14.62 3.368-3.645-.793-6.814-2.813-9.152-5.547a17.3 17.3 0 0 1-6.3 4.556c-7.052 3.011-15.055 1.149-21.473-5.032-5.389-5.15-8.479-12.638-8.479-20.483v-7.845c0-.634-.317-1.268-.911-1.743C9.033 102.132.079 84.502.079 66.158c0-35.975 33.637-65.214 75-65.214s75 29.239 75 65.214c0 18.581-9.152 36.291-25.079 48.653-.595.475-.951 1.109-.951 1.743v7.488c0 7.845-3.09 15.333-8.479 20.483-4.398 4.24-9.548 6.458-14.619 6.458m-13.233-21.83a4.26 4.26 0 0 1 4.279 4.279c0 3.605 2.139 6.814 5.427 8.241 3.844 1.664 8.281.436 12.203-3.328 3.725-3.566 5.824-8.756 5.824-14.303v-7.488c0-3.328 1.546-6.419 4.24-8.518 13.867-10.698 21.791-25.99 21.791-41.878 0-31.22-29.794-56.656-66.443-56.656S8.597 34.898 8.597 66.158c0 15.729 7.766 30.863 21.355 41.561 2.655 2.1 4.16 5.19 4.16 8.478v7.845c0 5.547 2.14 10.737 5.824 14.303 3.923 3.764 8.36 4.952 12.203 3.328a8.91 8.91 0 0 0 5.428-8.241 4.26 4.26 0 0 1 4.279-4.279 4.26 4.26 0 0 1 4.279 4.279c0 4.239 2.813 7.884 6.656 8.716 2.694.594 5.31 0 7.409-1.664a8.6 8.6 0 0 0 3.21-6.735v-.317c.039-2.338 1.98-4.279 4.318-4.279"
    ></path><path
      fill="#fcf8f1"
      d="M103.685 41.673c-10.698 0-19.374 8.677-19.374 19.374v11.767c0 4.2 3.407 7.607 7.607 7.607h11.767c10.697 0 19.374-8.677 19.374-19.374.039-10.697-8.637-19.374-19.374-19.374M65.768 72.814V61.047c0-10.697-8.676-19.374-19.374-19.374S27.02 50.35 27.02 61.047s8.677 19.374 19.374 19.374h11.767c4.2.04 7.607-3.407 7.607-7.607m24.208 33.835v-.436c0-.158-.04-.317-.04-.475 0-.04 0-.119-.039-.159 0-.079-.04-.158-.04-.198a5.2 5.2 0 0 0-.356-1.109l-1.11-2.1c-.277 0-.554 0-.792.04h-.08c-.039 0-.078 0-.118.039-.08 0-.158.04-.238.04-.515.159-.99.357-1.386.674a1.36 1.36 0 0 1-.595.277c-.04 0-.079.04-.118.04-.436.079-.872 0-1.19-.199-.514-.317-.831-.832-.87-1.386-.04-.555.197-1.11.673-1.466.753-.594 1.624-.99 2.575-1.268.119-.04.238-.08.357-.08l-.357-.673c-.04 0-.04 0-.08.04l-.039.04c-.396.118-.792.356-1.149.594a1.47 1.47 0 0 1-.713.317c-.436.079-.832 0-1.189-.198-.515-.317-.831-.832-.871-1.387s.238-1.11.673-1.466a5.7 5.7 0 0 1 1.347-.792c.04-.04.08-.04.12-.04l.039-.04c.08-.04.119-.04.198-.079l-3.962-7.37c-1.98-3.684-7.29-3.684-9.31 0 0 0-2.972 5.508-3.963 7.37.04.04.12.04.159.08.08.039.119.039.198.079.476.198.911.475 1.347.792s.713.872.674 1.466c-.04.594-.357 1.07-.872 1.387-.356.237-.792.277-1.188.198a1.47 1.47 0 0 1-.714-.317 3.5 3.5 0 0 0-1.149-.594l-.04-.04h-.039l-.356.673c.118.04.198.04.316.08a6.8 6.8 0 0 1 2.576 1.267c.436.357.713.872.673 1.466-.04.555-.356 1.07-.871 1.387a1.96 1.96 0 0 1-1.15.238c-.039 0-.118-.04-.158-.04-.198-.039-.396-.158-.594-.277-.436-.317-.872-.555-1.387-.674-.079-.039-.158-.039-.238-.039-.04 0-.079 0-.118-.04h-.08c-.237-.04-.475-.079-.752-.04l-1.07 1.981c-.04.04-.04.04-.08.04a2 2 0 0 0-.158.317c-.04.079-.04.158-.08.238-.039.158-.118.356-.157.515 0 .039 0 .079-.04.119-.04.079-.04.118-.04.198-.04.237-.079.436-.079.673v.476c0 .158 0 .317.04.475v.079c0 .119.04.198.04.317 0 .04 0 .08.039.119 0 .04.04.079.04.119s.04.119.04.159c0 0 0 .039.039.039.04.079.04.119.04.198 0 .04 0 .04.039.079v.04a.6.6 0 0 1 .08.238c.078.198.158.356.276.554.04.08.08.159.159.238 0 .04.04.04.04.079.04.04.04.08.079.08q.357.534.832.951l.04.039c.079.079.158.159.277.238q.653.535 1.545.832c.515.158 1.07.277 1.664.277h17.433c.594 0 1.149-.079 1.664-.277a5.8 5.8 0 0 0 1.545-.832c.08-.079.158-.119.238-.198l.04-.04a4.8 4.8 0 0 0 .831-.951c.04-.039.04-.079.08-.079.079-.079.118-.198.198-.277.118-.159.198-.357.277-.555.04-.04.04-.119.08-.158 0-.04.039-.04.039-.08v-.039c.04-.119.04-.198.079-.317v-.04c0-.039.04-.079.04-.119.04-.079.04-.158.079-.237.04-.119.04-.199.04-.317v-.198c0-.08.04-.119.04-.199.078-.277.078-.317.078-.396m-18.383-8.28c-.08.95-.713 1.703-1.427 1.822.714.238 1.19 1.07 1.11 2.021-.08 1.07-.872 1.902-1.743 1.862-.12 0-.198-.04-.317-.04.752-.119 1.347-.871 1.426-1.822.08-.951-.396-1.783-1.11-2.021.714-.119 1.348-.871 1.427-1.822.08-.951-.396-1.783-1.11-2.02.12 0 .199-.04.317 0 .912 0 1.546.95 1.427 2.02m10.856 5.705c-.872.079-1.625-.753-1.744-1.862-.079-.951.397-1.783 1.11-2.021-.753-.119-1.347-.871-1.427-1.822-.079-1.07.555-2.02 1.387-2.1h.317c-.713.238-1.189 1.07-1.11 2.02.08.951.674 1.704 1.427 1.823-.713.238-1.189 1.07-1.11 2.021.08.95.714 1.703 1.427 1.822-.08.119-.159.119-.277.119"
    ></path><path
      fill="#d9deed"
      d="M68.977 97.537c0 .317-.198.595-.475.753-.198.119-.436.159-.634.119-.119-.04-.277-.08-.396-.159a4.4 4.4 0 0 0-1.347-.713h-.04c-.04-.04-.119-.04-.158-.04-.12-.039-.238-.079-.397-.079-2.456-.515-4.913.951-5.626 3.329 1.268-.872 2.774-1.308 4.319-1.19h.278c.118 0 .237.04.395.04.04 0 .08 0 .12.04l.475.119a7.5 7.5 0 0 1 2.337 1.109c.238.198.396.476.357.793 0 .317-.198.594-.476.753-.198.118-.435.158-.633.118h-.04a1.4 1.4 0 0 1-.357-.158c-.515-.396-1.07-.634-1.664-.832-.079-.04-.158-.04-.277-.079-.08 0-.159-.04-.198-.04-.159-.04-.317-.04-.476-.04-.435-.039-.871 0-1.307.08-.04 0-.119.039-.158.039s-.08 0-.12.04a4.7 4.7 0 0 0-1.545.753 1.8 1.8 0 0 0-.475 2.377c.04.079.08.119.119.198.04.04.08.119.119.158q.534.714 1.307 1.189v1.138-1.138s.018 1.733.157 1.977c0 0 .514.477-1.345-.432-.99-.673-1.783-1.545-2.298-2.654-.317-.674-.555-1.427-.634-2.14 0-.079-.04-.198-.04-.277-.08-.991.08-2.021.436-2.972 1.07-2.813 4.041-4.595 7.052-4.239.595.08 1.15.198 1.704.436.08.04.158.04.238.08.04 0 .04.039.079.039.04 0 .04.04.08.04.435.197.831.435 1.227.752.198.08.357.396.317.713m13.852 0c0 .317.198.595.475.753.198.119.436.159.634.119.119-.04.278-.08.396-.159a4.4 4.4 0 0 1 1.347-.713h.04c.04-.04.119-.04.158-.04.12-.039.238-.079.397-.079 2.456-.515 4.913.951 5.626 3.329-1.268-.872-2.774-1.308-4.319-1.19h-.278c-.118 0-.237.04-.395.04-.04 0-.08 0-.12.04l-.475.119a7.5 7.5 0 0 0-2.337 1.109c-.238.198-.396.476-.357.793 0 .317.198.594.476.753a.92.92 0 0 0 .634.118h.04c.118-.039.237-.079.356-.158.515-.396 1.07-.634 1.664-.832.079-.04.158-.04.277-.079.08 0 .159-.04.198-.04.159-.04.317-.04.476-.04.435-.039.871 0 1.307.08.04 0 .119.039.159.039s.079 0 .118.04a4.7 4.7 0 0 1 1.546.753 1.8 1.8 0 0 1 .475 2.377c-.04.079-.08.119-.119.198-.04.04-.08.119-.119.158a4.7 4.7 0 0 1-1.307 1.189v1.138-1.138s-.018 1.733-.157 1.977c0 0-.514.477 1.346-.432.99-.673 1.782-1.545 2.297-2.654.317-.674.555-1.427.634-2.14 0-.079.04-.198.04-.277a7 7 0 0 0-.436-2.972c-1.07-2.813-4.041-4.595-7.052-4.239-.595.08-1.15.198-1.704.436-.08.04-.158.04-.237.08-.04 0-.04.039-.08.039s-.04.04-.079.04a5.7 5.7 0 0 0-1.228.752c-.198.08-.357.396-.317.713"
    ></path></svg
  >
</a>
