@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../components/pages/shared/ScrollToTopBtn.tsx";
@source "../components/pages/shared/ScrollGoBackBtn.tsx";
@source "../components/pages/shared/TableOfContent.tsx";

/* headers */
@font-face {
  font-family: "MuseoModerno";
  src: url("/src/assets/fonts/MuseoModerno-Medium.woff2") format("woff2"),
    url("/src/assets/fonts/MuseoModerno-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoModerno";
  src: url("/src/assets/fonts/MuseoModerno-MediumItalic.woff2") format("woff2"),
    url("/src/assets/fonts/MuseoModerno-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* text: normal*/
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-light-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-regular-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-medium-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-bold-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* text: italic */
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-lightitalic-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-italic-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-mediumitalic-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-bolditalic-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* CODE */
@font-face {
  font-family: "Cascadia";
  src: url("/src/assets/fonts/cascadia-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/cascadia-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-museo_moderno: "MuseoModerno", sans-serif;
  --font-rubik: "Rubik", system-ui, "sans-serif";
  --font-code: "Cascadia, ui-monospace, monospace";

  --color-cz-bg-dark: #060607;
  --color-cz-bg-light: #f5f2ee;
  --color-cz-text-headers-light: #fcf8f1;
  --color-cz-text-content-light: #dfdbd5;
  --color-cz-text-relax-light: #9d9b98;
  --color-cz-text-headers-dark: #0c0c0b;
  --color-cz-text-content-dark: #1f1e1d;
  --color-cz-text-relax-dark: #595856;
  --color-cz-primary: #f6ad02;
  --color-cz-secondary: #904fe7;
  --color-cz-neon-violet: #e22ef6;
  --color-cz-neon-pink: #ff33c4;
  --color-cz-neon-cosmic: #ff327d;
  --color-cz-neon-blue: #33afff;
  --color-cz-neon-lime: #41ce1a;
  --color-cz-neon-gold: #ffc733;
  --color-cz-neon-red: #ff4d4d;
  --color-cz-neon-orange: #f16f0e;
  --color-cz-neon-green: #afff33;
  --color-cz-neon-aqua: #33ffe8;
  --color-cz-bias-300: #c3b4c6;
  --color-cz-bias-500: #a58faa;
  --color-cz-bias-700: #756679;
  --color-cz-bias-category-perception: #f2ce57;
  --color-cz-bias-category-context: #9ed841;
  --color-cz-bias-category-judgment: #4c9dff;
  --color-cz-bias-category-memory: #af76ff;
  --color-cz-bias-category-speed: #e03d3d;
  --color-cz-error: #ef4444;
  --color-cz-warning: #eab308;
  --color-cz-success: #22c55e;

  --breakpoint-xs: 28.75rem;

  --text-xxs: 0.625rem;
  --text-xxs-line-height: 0.75rem;
}

/* COMPONENTS */
@layer base {
  html {
    @apply bg-cz-bg-dark antialiased scroll-smooth;
  }
  body {
    @apply bg-cz-bg-dark antialiased scroll-smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-museo_moderno tracking-wider text-cz-text-headers-light;
  }
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5,
  h6 {
    @apply text-sm;
  }
  p {
    @apply font-rubik text-sm text-cz-text-content-light font-normal tracking-wider leading-relaxed;
  }
  a {
    @apply font-museo_moderno tracking-wider text-cz-text-headers-light;
  }
  blockquote {
    @apply font-rubik text-base border-l-2 pl-4 my-2 text-cz-text-relax-light;
  }
  li {
    @apply font-rubik text-sm text-cz-text-content-light font-normal tracking-wider leading-relaxed mb-2;
  }
  footer {
    @apply mt-auto;
  }
}

/* CUSTOM CLASSES */
@layer components {
  /* CUSTOM PROSE PLUGING */
  .custom-prose {
    @apply prose prose-invert prose-headings:text-cz-text-headers-light prose-strong:text-cz-text-content-light prose-h1:text-2xl prose-h2:text-xl prose-h2:mb-3 prose-h2:mt-9 prose-h3:text-lg prose-h3:mb-3 prose-h3:mt-9 prose-h4:text-base prose-h4:mb-3 prose-h4:mt-9 prose-h5:text-sm prose-h5:mb-3 prose-h5:mt-9 prose-h6:text-xs prose-h6:mb-3 prose-h6:mt-9 prose-p:mt-0 prose-p:mb-4;
  }

  /* CUSTOM BULLET LIST */
  .custom-list {
    @apply list-disc;
  }
  .custom-list ul > li::marker {
    @apply text-cz-primary;
  }

  /* BODY */
  .body-layout-classes {
    @apply mx-auto p-5 px-3 max-w-3xl min-h-screen flex flex-col;
  }
  /* CODING STYLE */
  .coding {
    @apply font-code text-xs text-cz-text-content-light;
  }

  /* COVER IMAGES */
  .for-covers {
    @apply inline-block aspect-video w-full h-full overflow-hidden object-cover object-center rounded-lg;
  }

  /* IMAGES IN MDX */
  .for-images-in-mdx {
    @apply rounded-lg mt-0 w-5/6 h-auto place-self-center;
  }

  /* TO TOP BOTTON */
  .to-top-btn {
    @apply fixed bottom-5 right-5 w-8 h-8 rounded-full border border-green-500 bg-transparent text-green-500 hidden items-center justify-center;
  }

  /* TOGGLE HAMBURGER MENU */
  /* Toggle Menu: Mobile */
  .mobile-nav-toggle {
    @apply absolute block text-cz-primary z-10 w-6 h-6 aspect-square top-6 right-3 transform duration-500 ease-linear;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    @apply text-cz-neon-orange transform duration-500 ease-linear rotate-90;
  }
  .navigation-mobile-menu {
    @apply fixed top-0 right-0 w-2/3 h-2/4 rounded-b-xl rounded-tl-xl flex flex-col items-start justify-start pt-10 pl-4 gap-2 border border-cz-primary bg-cz-bg-dark/10 backdrop-blur-md transform -translate-y-[500px] transition-transform duration-500 ease-out;
  }
  .navigation-mobile-menu[data-visible="true"] {
    @apply transform translate-y-0;
  }
  .navigation-mobile-link {
    @apply mb-0;
  }
  /* Toggle Menu: Desktop & Tablet */
  .navigation-desktop-menu {
    @apply flex justify-center items-center gap-4;
  }
  .navigation-desktop-link {
    @apply mb-0;
  }

  /* BIAS CATEGORIES */
  .speed-bias-category {
    @apply border py-0.5 px-1 w-fit rounded-lg tracking-widest capitalize text-xxs text-cz-bias-category-speed border-cz-bias-category-speed bg-cz-bias-category-speed/10;
  }
  .memory-bias-category {
    @apply border py-0.5 px-1 w-fit rounded-lg tracking-widest capitalize text-xxs text-cz-bias-category-memory border-cz-bias-category-memory bg-cz-bias-category-memory/10;
  }
  .judgment-bias-category {
    @apply border py-0.5 px-1 w-fit rounded-lg tracking-widest capitalize text-xxs text-cz-bias-category-judgment border-cz-bias-category-judgment bg-cz-bias-category-judgment/10;
  }
  .context-bias-category {
    @apply border py-0.5 px-1 w-fit rounded-lg tracking-widest capitalize text-xxs text-cz-bias-category-context border-cz-bias-category-context bg-cz-bias-category-context/10;
  }
  .perception-bias-category {
    @apply border py-0.5 px-1 w-fit rounded-lg tracking-widest capitalize text-xxs text-cz-bias-category-perception border-cz-bias-category-perception bg-cz-bias-category-perception/10;
  }
}
