/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* text: normal*/
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-light-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-regular-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-medium-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-bold-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* text: italic */
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-lightitalic-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-italic-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-mediumitalic-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/rubik-bolditalic-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/rubik-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* CODE */
@font-face {
  font-family: "Cascadia";
  src: url("/src/assets/fonts/cascadia-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/cascadia-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* TAMAGO - PIXEL */
@font-face {
  font-family: "Tamago";
  src: url("/src/assets/fonts/Tamago.woff2") format("woff2"),
    url("/src/assets/fonts/Tamago.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-dark: hsl(0, 0%, 5%); /* #0d0d0d */
  --bg: hsl(30 0 10); /* #1a1a1a */
  --bg-light: hsl(30 0 15); /* #262626 */
  --primary: hsl(80.717, 96%, 54%); /* #adfa1b */
  --secondary: hsl(265.658, 76%, 61%); /* #904FE7 */

  /* text colors */
  --text-header: hsl(38.182, 65%, 97%); /* #FCF8F1 */
  --text-content: hsl(36, 14%, 86%); /* #DFDBD5 */
  --text-muted: hsl(36, 3%, 61%); /* #9D9B98 */

  /* fonts */
  --ff-headings: "Tamago", sans-serif;
  --ff-body: "Rubik", sans-serif;
  --ff-code: "Cascadia", monospace;

  --h1: 500 1.75rem/1.2em var(--ff-headings);
  --h2: 500 1.25rem/1.2em var(--ff-headings);
  --h3: 500 1.125rem/1.2em var(--ff-headings);
  --h4: 500 1rem/1.2em var(--ff-headings);
  --h5: 500 0.875rem/1.2em var(--ff-headings);
  --h6: 500 0.875rem/1.2em var(--ff-headings);

  --p: 400 0.875rem/1.6em var(--ff-body);
  --small-p: 300 0.625rem/1.6em var(--ff-body);

  --h-spacing: 0.1rem; /* headers spacing */
  --p-spacing: 0.05rem; /* paragraph spacing */

  /* border */
  --border: hsl(0, 0% 30%); /* #4D4D4D */
  --border-card: solid 1px var(--border);

  /* shadows */
  --shadow-s: inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015; /* soft shadow*/
  --shadow-m: inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015; /* soft shadow*/
  --shadow-l: inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015; /* soft shadow*/

  /*  gradients */
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: hsl(0 0% 60%); /* #999999 */

  --behavior: hsl(297, 89%, 58%); /* #e22ef6 */
  --ensayos: hsl(167, 100%, 58%); /* #33ffe8 */
  --biblioteca: hsl(39, 100%, 58%); /* #ffa424 */
  --proyectos: hsl(0, 100%, 61%); /* #ff3838 */
  --otros: hsl(0, 100%, 58%); /* #ff3838 */

  --orange-goback: hsl(25, 89%, 49%); /* #f16f0e */
  --red-wip: hsl(0, 100%, 66%); /* #ff4d4d */

  --bias-300: hsl(290, 19%, 74%); /* #c3b4c6 */
  --bias-500: hsl(290, 19%, 61%); /* #a58faa */
  --bias-700: hsl(290, 19%, 43%); /* #756679 */

  --bias-category-perception: hsl(47, 85%, 66%); /* #f2ce57 */
  --bias-category-context: hsl(89, 69%, 55%); /* #9ed841 */
  --bias-category-judgment: hsl(212, 100%, 62%); /* #4c9dff */
  --bias-category-memory: hsl(263, 100%, 73%); /* #af76ff */
  --bias-category-speed: hsl(0, 79%, 58%); /* #e03d3d */

  --error: hsl(0, 76%, 58%); /* #ef4444 */
  --warning: hsl(48, 89%, 50%); /* #eab308 */
  --success: hsl(142, 76%, 36%); /* #22c55e */

  /* transitions */
  --transition: 0.2s ease-in-out
}

body.light {
  --bg-dark: hsl(34.286, 26%, 95%); /* #F5F2EE */
  --bg: hsl(34.286, 12%, 88%); /* #E5E2DE */
  --bg-light: hsl(30, 100%, 99%); /* ##FFFCF9 */
  --primary: hsl(265.658, 76%, 61%); /* #904FE7 */
  --secondary: hsl(80.717, 96%, 54%); /* #adfa1b */

  /* text color */
  --text-header: hsl(60, 4%, 5%); /* #0C0C0B */
  --text-content: hsl(30, 3%, 12%); /* #1F1E1D */
  --text-muted: hsl(40, 2%, 34%); /* #595856 */

  /* border */
  --border: hsl(0, 0%, 30%); /* #4D4D4D */
  --border-card: solid 1px var(--bg);

  /*  gradients */
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: hsl(0 0% 100%); /* #FFFFFF */

  --behavior: hsl(295, 100%, 28%); /* #80008e */
  --ensayos: hsl(173, 98%, 22%); /* #016c60 */
  --biblioteca: hsl(39, 100%, 31%); /* #a15e00 */
  --proyectos: hsl(0, 100%, 38%); /* #c10000 */
  --otros: hsl(0, 100%, 38%); /* #c10000 */
}

html {
  background-color: var(--bg-dark) !important;
}

body,
html {
  background: var(--bg-dark);
  background-color: var(--bg-dark);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin-inline: auto;
  padding: 1.5rem;
  padding-inline: 0.75rem;
  /* max-width: 56rem; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 2.5rem;
  padding-bottom: 3.5rem;
  max-width: 48rem;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-header);
  letter-spacing: var(--h-spacing);
  font-family: var(--ff-headings);
  text-wrap: balance;
}

h1 {
  font: var(--h1);
  margin-bottom: 2rem;
}
h2 {
  font: var(--h2);
  margin-bottom: 1.75rem;
}
h3 {
  font: var(--h3);
  margin-bottom: 1.5rem;
}
h4 {
  font: var(--h4);
  margin-bottom: 1.25rem;
}
h5 {
  font: var(--h5);
  margin-bottom: 1rem;
}
h6 {
  font: var(--h6);
  margin-bottom: 1rem;
}

p {
  font-family: var(--ff-body);
  font: var(--p);
  color: var(--text-content);
  letter-spacing: var(--p-spacing);
  margin-bottom: 1rem;
}

a {
  letter-spacing: var(--h-spacing);
  font-family: var(--ff-headings);
  text-wrap: balance;
}

header {
  position: fixed;
  max-width: 56rem;
  margin-inline: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: var(--bg-dark);
}
header > nav {
  margin-inline: auto;
  max-width: 56rem;
}
header > nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem;
}

footer {
  margin-top: auto;
}

/* Custom classes */

.headings-section-list {
  font-size: 0.875rem;
  margin-bottom: 0.125rem;
}

/* -- -- -- */

.custom-header {
  display: flex;
}
.power-icon {
  width: 1.25rem;
  stroke: var(--text-muted);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 100%;
  background: var(--bg);
  padding: 0.5rem;
  margin-left: auto;
  transition: var(--transition);
}

button:hover {
  background: var(--bg-light);
  transition: var(--transition);
}

button:focus {
  outline: none;
}

/* shadows */
.shadows {
  background: var(--bg);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  margin: 2rem 0 4rem 0;
  border-radius: 1.5rem;
}

.shadows div {
  background: var(--bg-light);
  padding: 2rem;
  border-radius: 1rem;
}

.shadow-s {
  box-shadow: var(--shadow-s);
}

.shadow-m {
  box-shadow: var(--shadow-m);
}

.shadow-l {
  box-shadow: var(--shadow-l);
}