---

---

<section class="mx-auto max-w-3xl">
  <p class="mt-2">
    Recopilación de proyectos que he ido (y voy) haciendo como hobby o
    herramientas útiles que he ido creando en mi tiempo libre. Aquí te expico
    cómo los he construido, qué herramientas he usado y el porqué detrás de cada
    decisión.
  </p>
  <section class="flex flex-col gap-y-2 xs:gap-y-16">
    <div class="max-w-3xl mx-auto flex flex-col">
      <section
        class="grid grid-cols-1 xs:grid-cols-2 gap-x-4 mx-auto gap-y-4 my-5"
      >
        <slot />
      </section>
    </div>
  </section>
</section>
