.chatgpt {
  --chatgpt: rgb(16, 163, 127);
  --chatgpt-rgb: 16, 163, 127;
  background-color: rgba(var(--chatgpt-rgb), 0.05);
  color: var(--chatgpt);
  box-shadow: inset 0 0 0 0.5px var(--chatgpt);
}

.perplexity {
  --perplexity: rgb(96 166 175);
  --perplexity-rgb: 60, 166, 175;
  background-color: rgba(var(--perplexity-rgb), 0.05);
  color: var(--perplexity);
  box-shadow: inset 0 0 0 0.5px var(--perplexity);
}

.claude {
  --claude: rgb(198 97 63);
  --claude-rgb: 198, 97, 63;
  background-color: rgba(var(--claude-rgb), 0.05);
  color: var(--claude);
  box-shadow: inset 0 0 0 0.5px var(--claude);
}

.grok {
  --grok: rgb(255 255 255);
  --grok-rgb: 255, 255, 255;
  background-color: rgba(var(--grok-rgb), 0.05);
  color: var(--grok);
  box-shadow: inset 0 0 0 0.5px var(--grok);
}

.deepseek {
  --deepseek: rgb(86 134 254);
  --deepseek-rgb: 86, 134, 254;
  background-color: rgba(var(--deepseek-rgb), 0.05);
  color: var(--deepseek);
  box-shadow: inset 0 0 0 0.5px var(--deepseek);
}

.gemini {
  --gemini: rgb(194 231 255);
  --gemini-rgb: 194, 231, 255;
  background-color: rgba(var(--gemini-rgb), 0.05);
  color: var(--gemini);
  box-shadow: inset 0 0 0 0.5px var(--gemini);
}

.hoverIcons {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  border-radius: 0.375rem;
  padding: 0.375rem 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    scale: 0.9;
  }
}

.widthIcons {
  width: 16px;
  height: 16px;
  @media (min-width: 460px) {
    width: 20px;
    height: 20px;
  }
}

.nameIcons {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
  display: none;
  @media (min-width: 460px) {
    display: block;
  }
}
