---
import Logo from "@commonIcons/Logo.astro";
---

<header class="fixed top-0 left-0 right-0 z-50 bg-cz-bg-dark">
  <nav class="mx-auto max-w-4xl">
    <div class="flex justify-between items-center m-3 max-w-4xl">
      <Logo shouldGo="/" height="1.5rem" width="1.5rem" />
    </div>
  </nav>

  <script>
    document.addEventListener("astro:page-load", () => {
      const primaryNav = document.querySelector(
        ".navigation-mobile-menu"
      ) as HTMLUListElement;
      const navToggle = document.querySelector(
        ".mobile-nav-toggle"
      ) as HTMLButtonElement;

      const toggleMenu = () => {
        const visibility = primaryNav.getAttribute("data-visible");
        if (visibility === "false") {
          primaryNav.setAttribute("data-visible", "true");
          navToggle.setAttribute("aria-expanded", "true");
        } else {
          primaryNav.setAttribute("data-visible", "false");
          navToggle.setAttribute("aria-expanded", "false");
        }
      };

      const closeMenu = () => {
        primaryNav.setAttribute("data-visible", "false");
        navToggle.setAttribute("aria-expanded", "false");
      };

      navToggle.addEventListener("click", (e) => {
        e.stopPropagation();
        toggleMenu();
      });

      document.addEventListener("click", (e) => {
        const isClickInsideMenu = primaryNav.contains(e.target as Node);
        const isClickInsideButton = navToggle.contains(e.target as Node);
        if (!isClickInsideMenu && !isClickInsideButton) {
          closeMenu();
        }
      });
    });
  </script>
</header>
