---
import Github from "@/common/ui/icons/social/icons/Github.astro";
import LinkedIn from "@/common/ui/icons/social/icons/LinkedIn.astro";
import Substack from "@/common/ui/icons/social/icons/Substack.astro";
import X from "@/common/ui/icons/social/icons/X.astro";
---

<section class="flex justify-start items-center">
  <Substack />
  <LinkedIn />
  <Github />
  <X />
</section>
