---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<a
  href={href}
  title={title}
  target="_blank"
  rel="noopener noreferrer"
  class="group w-9 h-9 flex items-center justify-center hover:bg-cz-bg-light/10 rounded-md transition-colors duration-300"
>
  <slot />
</a>
