---
import styles from "./social.module.css"
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<a
  href={href}
  title={title}
  target="_blank"
  rel="noopener noreferrer"
  class={styles.smLink}
>
  <slot />
</a>
