---
import type { SocialIcons } from "@interfaces/socialIcons.interface";

const {
  customColor = "text-cz-text-headers-dark",
  height = "16",
  width = "16",
} = Astro.props as SocialIcons;
---

<a
  href="https://chemaferrandez.substack.com/"
  target="_blank"
  rel="noopener noreferrer"
  title="Substack de Chema Ferrández - c12z"
  class="group w-9 h-9 flex items-center justify-center hover:bg-cz-bg-light/10 rounded-md transition-colors duration-300"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width={width}
    height={height}
    viewBox="0 0 16 16"
    class={customColor}
    ><path
      fill="currentColor"
      d="M15 3.604H1v1.891h14v-1.89ZM1 7.208V16l7-3.926L15 16V7.208zM15 0H1v1.89h14z"
    ></path></svg
  >
</a>
