---
/**
 * ! CREAR UN SORT QUE SEA POR FECHA DE SUBIDA DONDE LOS ÚLTIMOS SALGAN PRIMERO
 */
import { getCollection } from "astro:content";
import BookCard from "./BookCard.astro";
import BookHeader from "./BookHeader.astro";

const library = await getCollection("library");
---

<section class="grid mx-auto max-w-3xl">
  <BookHeader />
  {library.map((book) => <BookCard entry={book} />)}
</section>
