---
import { getCollection } from "astro:content";
import BookCard from "./BookCard.astro";
import BookHeader from "./BookHeader.astro";
import GoBackInTop from "@/components/common/ui/buttons/GoBackInTop.astro";

const library = await getCollection("library");

// Sort by publishDate descending (most recent first)
library.sort((a, b) => {
  const dateA = new Date(
    a.data.publishDate.split("/").reverse().join("-")
  ).getTime();
  const dateB = new Date(
    b.data.publishDate.split("/").reverse().join("-")
  ).getTime();
  return dateB - dateA;
});
---

<section class="grid mx-auto max-w-3xl">
  <GoBackInTop headPage="/" title="go home" />
  <BookHeader />
  {library.map((book) => <BookCard entry={book} />)}
</section>
