---
import GoBackInTop from "@sharedPageComponents/items/buttons/GoBackInTop.astro";
---

<section class="mx-auto max-w-2xl">
  <GoBackInTop headPage="/" title="go home" />
  <section class="mx-auto flex flex-col justify-center items-center">
    <h1 class="mb-5">Behavior Page: W.I.P.</h1>
    <section class="flex flex-col justify-center items-center">
      <p class="mb-5">
        Aquí te vas a encontrar contenido relacionado al comportamiento humano
        enfocado al producto y diseño. UX, UI, CX, sesgos cognitivos, modelos
        mentales, etc. Por ahora solo te puedo decir que estoy trabajando en
        ello. Pronto habrá contenido.
      </p>
      <a
        class="text-md underline underline-offset-4 text-cz-bias-500"
        href="/behavior/sesgos"
        >Ir a la página de <span
          transition:name="bias-header-page-h1-transition-name"
          >Sesgos Cognitivos</span
        ></a
      >
    </section>
  </section>
</section>
