---
import ShowSortContent from "./section_lists/ShowSortContent.astro";
---

<article>
  <section class="mx-auto flex flex-col justify-center text-pretty">
    <!-- <h1 class="mb-4">Aquí Chema F. · c12z</h1> -->

    <h1 class="font-pixel text-center text-2xl xs:text-3xl mb-4 sm:mb-10">
      Growth, Behavior & Code for Product.
    </h1>
    <section class="flex flex-col">
      <p>
        Comparto aquello que sé, aprendo y hago sobre Growth, Behavioral y Dev,
        con el fin de crear mejores producto. Documento mi proceso en Substack y
        LinkedIn, un "build in public" de mi día a día.
      </p>
      <p class="mt-2">
        Me interesa <span class="underline decoration-cz-primary">EdTech</span>, <span
          class="underline decoration-cz-primary">ClimateTech</span
        > y productos con
        <span class="underline decoration-cz-primary">Network Effects</span>.
      </p>
      <p class="mt-4">
        Por cierto, soy Chema ✌🏽. Un Growth & Dev, amante del arte callejero y
        del tattoo, compito en CrossFit y ahora estoy estudiando un <span
          title="Desarrollo de Aplicaciones Multiplataforma"
          >Grado Superior en DAM</span
        >.
      </p>
    </section>

    <section>
      <h2 class="mt-8 text-pretty">Qué te vas a encontrar aquí?</h2>

      <ShowSortContent />
    </section>
  </section>
</article>
