---
import ShowSortContent from "./section_lists/ShowSortContent.astro";
---

<article>
  <section class="mx-auto flex flex-col justify-center text-pretty">
    <h1 class="mb-4">Aquí Chema F. · c12z</h1>

    <section class="flex flex-col gap-y-2">
      <p>
        Un Growth, apasionado de la psicología del comportamiento y de hablar
        con usuarios para crear mejores productos. EdTech, ClimateTech y
        productos con Network Effects me interesan.
      </p>
      <p>
        Amante del arte del Tattoo, compito en CrossFit y en mi tiempo libre
        programo.
      </p>
    </section>
  </section>

  <section>
    <h2 class="mt-8 mb-4">Cosas de las que hablo</h2>
    <p class="">
      Comparto aquello que voy aprendiendo sobre Growth, Psicología del
      Comportamiento y Producto junto con algunas reflexiones.
    </p>

    <ShowSortContent />
  </section>
</article>
