---
import ShowSortContent from "./section_lists/ShowSortContent.astro";
---

<article>
  <section class="mx-auto flex flex-col justify-center text-pretty">
    <!-- <h1 class="mb-4">Aquí Chema F. · c12z</h1> -->

    <h2 class="font-pixel text-center text-2xl xs:text-3xl mb-4">
      Growth, Behavior & Code for Product.
    </h2>
    <section class="flex flex-col gap-y-2">
      <p>
        Comparto aquello que sé, aprendo y hago sobre Growth, Behavioral y Dev,
        con tal de crear mejores producto. Documento mi proceso en Substack y
        LinkedIn — un "build in public" de mi día a día.
      </p>
      <p>EdTech, ClimateTech y productos con Network Effects me apasionan.</p>
      <p class="mt-4">
        Por cierto, soy Chema ✌🏽. Un Growth Dev, amante del arte callejero y del
        tattoo, compito en CrossFit y en mi tiempo libre creo cosas con código.
      </p>
    </section>

    <section>
      <h2 class="mt-8 text-pretty">Qué te vas a encontrar aquí?</h2>

      <ShowSortContent />
    </section>
  </section>
</article>
