---
import Github from "@commonIcons/social/Github.astro";
import LinkedIn from "@commonIcons/social/LinkedIn.astro";
import Substack from "@commonIcons/social/Substack.astro";
import X from "@commonIcons/social/X.astro";
---

<footer class="flex flex-col items-center footer">
  <hr class="pb-3 h-px w-3/4 text-cz-text-headers-dark/50" />
  <div class="flex items-center justify-between w-full">
    <p class="text-xs self-start">
      With 🖤 - <a class="text-cz-primary" href="/contexto">chema</a>
    </p>
    <div class="flex justify-center items-center gap-2">
      <Github />
      <LinkedIn />
      <X />
      <Substack />
    </div>
  </div>
</footer>
