.projectPage {
	margin-inline: auto;
	max-width: var(--screen-md);

	& .intro {
		margin-top: var(--sp-2);
	}

	& .page {
		display: flex;
		flex-direction: column;
		margin-block: var(--sp-4);

		& .projectsView {
			max-width: var(--screen-md);
			margin-inline: auto;
			margin-inline: var(--sp-3);
			display: flex;
			flex-direction: column;
		}

		& .grids {
			display: grid;
			grid-template-columns: repeat(1, minmax(0, 1fr));
			column-gap: var(--sp-4);
			row-gap: var(--sp-4);
			margin-inline: auto;
			margin-block: var(--wdth-pill);

			@media (width >= 28.75rem) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
		}

		@media (width >= 28.75rem) {
			margin-block: var(--sp-4);
		}
	}
}

.projectCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	& .view {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		gap: var(--sp-2);
		margin-bottom: var(--sp-0);

		& .picture {
			border-top-left-radius: var(--r-sm);
			border-top-right-radius: var(--r-sm);
			width: 100%;
		}

		& .title {
			overflow: hidden;
			line-clamp: 2;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
			overflow: hidden;
			flex-wrap: wrap;
		}
	}

	& .desc {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: var(--sp-2);
		margin-top: var(--sp-1);

		p {
			overflow: hidden;
			line-clamp: 3;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			font-size: var(--t-body);
			line-height: var(--lh-body);
		}
	}
}

.theProject {
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	width: 100%;

	& .projSect {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: var(--sp-2);

		& .projTitle {
			text-align: center;
			margin-bottom: var(--sp-4);
		}

		& .projCover {
			width: 100%;
			height: 100%;
		}

		& .projLink {
			color: var(--fg);
			margin-top: var(--sp-4);
			font-size: var(--t-body);
			line-height: var(--lh-body);
			font-family: var(--ff-pixel);
			letter-spacing: var(--tracking-widest);
			display: flex;
			align-items: center;
			justify-content: center;
			gap: var(--sp-1);
		}

		& .projImgs {
			width: calc(3 / 4 * 100%);
			margin-block: var(--sp-3);
			place-self: center;
			object-fit: cover;
			height: auto;
			border-radius: var(--r-sm);
		}
		& .projLittleImgs {
			width: calc(2 / 4 * 100%);
			margin-block: var(--sp-3);
			place-self: center;
			object-fit: cover;
			height: auto;
			border-radius: var(--r-sm);
		}
	}

	@media (width >= 40rem) {
		min-width: var(--screen-sm);
	}
	@media (width >= 48rem) {
		min-width: var(--screen-md);
	}
}
