---
import { getCollection } from "astro:content";
import ProjectHeader from "./ProjectHeader.astro";

import GoBackInTop from "@/components/common/ui/buttons/GoBackInTop.astro";
import ProjectCard from "./ProjectCard.astro";

import styles from "./project.module.css";

const projects = await getCollection("projects");
projects.sort((a, b) => {
	const dateA = new Date(
		a.data.publishDate.split("/").reverse().join("-"),
	).getTime();
	const dateB = new Date(
		b.data.publishDate.split("/").reverse().join("-"),
	).getTime();
	return dateB - dateA;
});
---

<section class={styles.projectPage}>
	<GoBackInTop
		headPage="/"
		title="go home"
	/>
	<ProjectHeader />

	<section class={styles.grids}>
		{
			projects.map((book, index) => (
				<ProjectCard
					entry={book}
					index={index}
				/>
			))
		}
	</section>
</section>
