---
import styles from "./project.module.css";
---

<section class={styles.projectHeader}>
	<h1 class={styles.title}>Proyectos.</h1>
	<p>
		Recopilación de proyectos que he ido (y voy) haciendo como hobby o
		herramientas útiles que he ido creando en mi tiempo libre. Aquí te expico
		cómo los he construido, qué herramientas he usado y el porqué detrás de cada
		decisión.
	</p>
</section>
