---
import styles from "./header.module.css"
import Logo from "@/common/ui/icons/Logo.astro";
import ToggleTheme from "@/common/ui/darkmode/ToggleTheme.astro";
---

<header class={styles.header}>
  <nav class={styles.navbar}>
    <div class={styles.navElements}>
      <Logo shouldGo="/" />
      <ToggleTheme />
    </div>
  </nav>
</header>
