.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	background-color: var(--bg);

	&::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 1rem;
		background: linear-gradient(to bottom, var(--bg), transparent);
		pointer-events: none;
	}

	& .navbar {
		margin-inline: auto;
		max-width: var(--screen-n);
	}

	& .navElements {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: var(--sp-3);
		max-width: var(--screen-n);
	}
}
