---
// import "../styles/global.css";
import "../styles/new.css";
import "../styles/typo.css";

import BaseHead from "@/seo/BaseHead.astro";

import { SITE_404_CONFIG } from "@/global/siteInfo";
import GTMBody from "@/analytics/Google/GTMBody.astro";

const { lang } = SITE_404_CONFIG;
---

<!doctype html>
<html lang={lang}>
  <BaseHead>
    <slot name="head" />
  </BaseHead>
  <body>
    <GTMBody />
    <main>
      <slot />
    </main>
  </body>
</html>
