---
import "../styles/global.css";

import { SITE_DEFAULT_CONFIG } from "@/global/siteInfo";

import Header from "@/components/shared/UI/header/Header.astro";
import Footer from "@/components/shared/UI/footer/Footer.astro";

import GTMBody from "@/analytics/Google/GTMBody.astro";
import BottomBar from "@sharedComponentsInPages/items/BottomBar";
import BaseHead from "@/seo/BaseHead.astro";

const { lang } = SITE_DEFAULT_CONFIG;
---

<!doctype html>
<html lang={lang}>
  <BaseHead>
    <slot name="head" />
  </BaseHead>
  <body class="body-layout-classes">
    <GTMBody />
    <Header />
    <main class="mt-10 pb-14 max-w-3xl mx-auto">
      <slot />
      <BottomBar client:only="react" />
    </main>
    <Footer />
  </body>
</html>
