---
import "../styles/global.css";

import { SITE_DEFAULT_CONFIG } from "@/global/siteInfo";

import Header from "@commonComponents/header/Header.astro";
import Footer from "@commonComponents/footer/Footer.astro";

import BaseHead from "@in_headComponents/SEO/common/BaseHead.astro";
import GTMBody from "@in_headComponents/analytics/Google/GTMBody.astro";
import FooterBar from "@commonPageComponents/FooterBar";

const { lang } = SITE_DEFAULT_CONFIG;
---

<!doctype html>
<html lang={lang}>
  <BaseHead>
    <slot name="head" />
  </BaseHead>
  <body class="body-layout-classes">
    <GTMBody />
    <Header />
    <main class="mt-10 pb-14 max-w-3xl mx-auto">
      <slot />
      <FooterBar client:only="react" />
    </main>
    <Footer />
  </body>
</html>
