---
interface Props {
  headPage: string;
}

const { headPage } = Astro.props;

if (!headPage.startsWith("/")) {
  throw new Error(
    `Invalid href: "${headPage}". The href must start with a "/".`
  );
}
---

<a href={headPage} class="goback-in-top-btn"> ← Atrás </a>
