---
interface Props {
  headPage: string;
  title?: string;
}

const { headPage, title } = Astro.props;

if (!headPage.startsWith("/")) {
  throw new Error(
    `Invalid href: "${headPage}". The href must start with a "/".`
  );
}
---

<a title={title} href={headPage} class="goback-in-top-btn"> ← Atrás </a>
