.biasesPage {
	margin-inline: auto;

	& .thePage {
		display: flex;
		flex-direction: column;
		row-gap: var(--sp-2);

		& .action {
			font-size: var(--t-body);
			line-height: var(--lh-body);
			margin-bottom: var(--sp-2);
		}

		& .biasesGrid {
			display: grid;
			grid-template-columns: repeat(1, minmax(0, 1fr));
			margin-inline: auto;
			margin-block: var(--sp-4);
			gap: var(--sp-4);

			@media (width >= 28.75rem) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
		}

		@media (width >= 28.75rem) {
			row-gap: var(--sp-5);
		}
	}
}

.biasesHeader {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	margin-inline: auto;
	margin-block: auto;

	& .brainIcon {
		display: none;
		@media (width >= 28.75rem) {
			display: block;
		}
	}

	& .desc {
		margin-block: var(--sp-2);
		display: flex;
		flex-direction: column;
		/* justify-content: space-between; */
		/* column-gap: var(--sp-2); */

		& .title {
			text-align: start;
			margin-bottom: var(--sp-4);
		}

		& .question {
			text-decoration: underline;
			text-underline-offset: var(--sp-05);
			text-decoration-color: var(--c-bias);
			display: inline-block;
		}
	}

	@media (width >= 28.75rem) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.brainIcon {
	width: fit-content;
	max-width: var(--wdth-12);
	margin: auto;

	& .icon {
		color: var(--c-bias);
		padding-inline: var(--sp-2);
		width: 100%;
		height: auto;
		flex-shrink: 0;
	}
}

.bias {
}
